@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Activity 6</h1>
<h3>About Us</h3>
We are one of the biggest electronics retail store serving millions of people across the nation. blah.blah. blah
<br />
If you want to hear great offers from us
<email>atka.ali@students.au.edu.pk</email>
