@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>
<h3>Sample list</h3>
<ul>
    @foreach(var item in Model)
    {
        <li>@item</li>
    }
</ul>
